#filters-section > .btn{
  color: #6c757d;
  background-color: #fff;
  box-shadow: none;
}
#btn-group > label{
  border-radius: 0.25rem;
}
/* 
  * I changed the color and background-color of the filter buttons and gave them a shadow.
  * I gave the button labels a radius
*/