.card-body > .card-text, .card-body > .card-text > .text-muted > .like-icons{
  display: inline-block;
}
.like-icons{
  color: inherit;
}
.font-awesome-icon-component{
  color: #6c757d;
}
.like-icons > .fas{
  color: #008075;
}
.like-icons:hover{
  color: inherit;
}
#spinner-border{
  border-top-color: #008075;
  border-bottom-color: #008075;
  border-left-color: #008075;
}
.small-like-tag{
  cursor: pointer;
}